

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Hoa don</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" th:href="@{/assets/css/admin/admin.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div th:replace="/admin/theme.html :: headeradmin "></div>

        <div class="section home-section">
            <h2 style="padding: 15px;">DANH SÁCH HÓA ĐƠN</h2>
            <div class="container" style="display: flex; justify-content: space-between; margin-bottom: 10px;">
                <div class="col-6" style="display: flex;  justify-content: flex-start;">
        
                    <form class="d-flex" 
                    role="search" style="width: 100%;" method="get" action="/admin/hoadon">
                        <input class="form-control me-2" name="search" type="text" placeholder="Search(Tìm kiếm theo tên sản phẩm)" aria-label="Search"
                        >
                        <button class="btn btn-outline-success" type="submit" style="margin-right: 5px;" >Search</button>
                        <a href="/xuatfileexcel" style="width: 35%;">
                            <button class="btn btn-outline-success my-5 my-sm-0" type="button" style="width: 100%;">Xuất file</button>
                        </a>
                    </form>
        
                </div>
                <div class="col-6" style="display: flex; justify-content: space-around;">
                        
                </div>
            </div>
            <a th:href="@{/admin/hoadon/addhoadon}" class="btn btn-success" name="btn-add" style="margin-bottom: 15px;">Thêm sản phẩm</a>
                <table class="table">
                    <thead style="background: #428783;"> <tr>
                        <td>Mã hóa đơn</td>
                        <td>Họ và tên</td>
                        <td>Ngày tạo</td>
                        <td>Địa chỉ</td>
                        <td>SĐT</td>
                        <td>Email</td>
                        <td>Tổng</td>
                        <td>Trạng thái</td>
                        <td>Thanh toán</td>
                        <td colspan="2">Chức năng</td>
                    </tr></thead>
                    <tbody>
                        <tr th:if="${#lists.isEmpty(products)}">
                            <td colspan="10" style="text-align: center; color: red;">Không tìm thấy sản phẩm</td>
                        </tr>
                                    <tr th:each= "product : ${products}">
                                        <!-- OrderID -->
                                        <td th:text= "${product.orderID}" th:id="'order-' + ${product.orderID}" ></td>
                                            <!-- IDUSER -->
                                        <td id="username" th:text= "${product.userID}" th:data-userID="${product.userID}" style="display: none;"></td>
                                        <!-- nameUser -->
                                        <td  id="username" th:text="${product.nameUser}"></td>
                                        <!-- orderDate-->
                                        <td th:text="${product.orderDate}"></td>
                                        <!-- addressU -->
                                        <td th:text="${product.addressU}"></td>
                                        <!-- phone -->
                                        <td th:text="${product.getPhone()} "></td>
                                        <!-- email -->
                                        <td th:text="${product.email}">%</td>
                                        <!-- totalAmount -->
                                        <td th:text="${product.totalAmount}" ></td>
                                        <!-- status -->
                                        <td  th:text="${product.getStatusText()}">>%</td>
                                        <!-- payment -->
                                        <td th:text="${product.getpaymentText()}" ></td>
                                        <td ><a th:href="@{/admin/hoadon/UpdatePro/{masanpham}(masanpham=${product.orderID})}">
                                             <button type="button" class="btn btn-success">Sửa</button></a></td>
                                        <td>
                                            <!-- <a th:href="@{DeletedPro(masanpham=${product.IDP})}"></a> -->
                                            <button type="button" class="btn btn-danger btn-deleted-u" name="deleted" th:data-id="${product.orderID}">Xóa</button>
                                        <!-- </a> -->
                                        </td>
                                    </tr>
                    </tbody>
                </table>

        </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</script>
    <script th:src="@{/js/scriptproduct.js}"></script>
</body>
</html>