<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/assets/css/script.css}">
    <title>Trang Chu</title>
</head>
<body>
  <!---          Header           --->
  <header th:replace="/header.html :: header"></header>
    <div class="cotainer">
        <h1>Chúng tôi đã tiếp nhận đơn hàng của bạn, Chúng tôi sẽ liên hệ lại với bạn trong thời gian ngắn nhất</h1>
        <br>
        <p th:text="${successMessage}"></p>

        <a href="">Quay lại trang chủ mua hàng</a>
    </div>
</body>
</html>